<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appenders>    
    <RandomAccessFile name="log" fileName="app.log">
        <PatternLayout pattern="%d %p %c [%t] %m %ex%n"/>
    </RandomAccessFile>    
    <Console name="out" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c [%t] %m %ex%n"/>
    </Console>    
    <Async name="alog" blocking="true" bufferSize="512" errorRef="log" ignoreExceptions="false">
        <appender-ref ref="log"/>
        <appender-ref ref="out"/>
    </Async>
  </appenders>
  <loggers>
    <root level="debug">
      <!--
      <appender-ref ref="alog"/>
      -->
      <!--
        <appender-ref ref="log"/>        
        -->
        <appender-ref ref="out"/>
    </root>
  </loggers>
</configuration>